@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}


body{
    font-family: "Lato", sans-serif;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background-image:  url("hero-img.JPG");

}
.inner-box{
    font-size: medium;
    width: 450px;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 10%;
    padding: 50px 50px;
    background-color: rgb(0,0,0,0.8);
    border-radius: 5px;
}
header{
    font-size: 1.3em;
}
.main-body{
    margin: 25px 0px;
}

.main-body p{
    margin: 15px;
}
form p input[type="text"]{
    width: 100%;
    font-size: 1em;
    margin-top: 6px;
    background-color: rgb(21, 20, 20,0.7);
    padding: 20px;
    border: 0.5px solid #ccc;
    border-radius: 3px;
}

#sign-in{
    font-size: 1em;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: red;
    border: none;
    cursor: pointer;
}
.or{
    text-align: center;
    font-size: 1em;
    color: grey;
}
#sign-in-code{
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    background-color: rgb(58, 58, 58,0.7);
    border: none;
    cursor:  pointer ;
    
}

.forgot-password{
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}
.check{
    font-size: 1em;

}
footer{
    margin-top: 40px;
}
footer p{
    color: grey;
}

footer p a{
    text-decoration: none;
}