*{
    margin: 0px;
    padding: 0px;

}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    background-color: #edd2e9;
}
.logo{
 width :80px;
 border-radius: 50%;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: center;
   
}
nav ul li{
    display: inline-block;
    margin: 10px 100px;
    font-size: 1.5em;
}
nav ul li a{
    text-decoration: none;
    color:#612240 ;
}

.content{
    margin: 40px 40px;
    width:100%;
    text-align: justify;
    font-size: 1.1em;
    background-color:#fffdff ;
}
.content h1{
    font-size: 2.5em;
    margin: 10px 0px;
}
.tagline{
    font-style: italic;
}
.content p{
    margin: 30px 0px;
}
.image{
  margin: 40px 40px;
  float: right; 
  width: 500px;
  height: 500px; 
}

footer{
    width: 100%;
    background-color: #edd2e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8a4566 ;
    font-size: 1.1em;
    padding-right: 30px;
    
}
footer ul li{
    list-style: none;
}
footer a , footer ul {
    text-decoration: none;
    color:#5a253f ;
}